<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="./assets/images/h1.png" alt="...">
            <div class="card-body">
              <h5 class="card-title mt-1">{{property.Name}}</h5>
              <p class="card-text">Type : {{property.Type}}</p>
              <p class="card-text">Price : {{property.Price}} $</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
